// color palette
$color-base: hsl(0, 0%, 100%);
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-text: #000;

// font family
$font-special: 'Shrikhand', 'cursive';
$font-basic: 'Roboto', sans-serif;

//font size
$font-small: 0.9rem;
$font-normal: 1rem;
$font-medium: 1.1rem;
$font-large: 1.5rem;
$font-xlarge: 2rem;