h1 {
    font-family: $font-special;
    font-size: $font-xxlarge;
    font-weight: normal;
    text-align: center;
    margin: 0 0 0.5rem 0;
    padding-top: 1rem;
}
.header__menu a {
    position: absolute;
    top: 1.8rem;
    left: 1.4rem;
}

// media queries properties for header go ---> menu.scss