// Loading spinner
.loading-spinner__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
    animation: loading-spinner 0.1s;
    animation-delay: 3s;
    animation-fill-mode: both;
  }
  .loading-spinner__content {
    font-family: 'Shrikhand', 'cursive';
    font-size: 2rem;
    & p {
    font-size: 3rem;
    background: linear-gradient(150deg, $color-secondary, $color-primary);
    background-clip: text; 
    color: transparent;
    padding: 0 1rem;
    margin: 0 1rem;
    }
  }
  .loading-spinner__stars {
    margin: 1rem 2rem;
    position: relative;
  }
  .loading-stars {
    position: absolute;  
    margin: 0 1rem;
    opacity: 0;
  }
  .star1 {
    left: 0; 
    color: $color-tertiary;
    animation: stars-transform 1900ms ease-in-out infinite;
  }
  .star2 {
    left: 3rem;
    color: darken($color-tertiary, 10%);
    animation: stars-transform 1900ms 0.3s ease-in-out infinite;    
  }
  .star3 {
    left: 6rem;
    color: darken($color-tertiary, 20%);
    animation: stars-transform 1900ms 0.5s ease-in-out infinite;
  }
  .star4 {
    left: 9rem;
    color: darken($color-tertiary, 30%);
    animation: stars-transform 1900ms 0.7s ease-in-out infinite;
  }
  .star5 {
    left: 12rem;
    color: darken($color-tertiary, 40%);
    animation: stars-transform 1900ms 0.9s ease-in-out infinite;
  }
  
@keyframes stars-transform {
   0% {
    transform: scale(0);
   }
   80% {
    opacity: 1;
    transform: scale(1);
   }
   100% {
    opacity: 0;
   }
}
@keyframes loading-spinner {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}

// Search city section

.form__city-search {
    background-color: darken($color-base, 10%);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 2px 5px darken($color-base, 25%);
    color: darken($color-base, 80%);
    & label {
        margin-right: 1rem;
    }
    & input {
        border: none;
        background-color: transparent;
        font-size: $font-normal;
        font-weight: 500;
        color: darken($color-base, 80%);
        display: block;
        width: 8rem;
    }
}

// Description section

.main__description {
    @include primary-background-color;
    padding: 2.5rem 1.8rem;
    text-align: center;
    & p {
        font-size: $font-medium;
    }
}
.main__description h2, .main__description p {
    margin: 0 0 1rem 0;
}
.restaurants-btn__anchor {
    display: block;
    max-width: max-content;
    margin: 2rem auto 1rem auto;
    padding: 1rem 1.2rem;
    &:visited {
        color: $color-base;
    }
}

// Functioning section

.main__functioning {
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    & h2 {
        margin: 1.5rem 0 1.8rem 0;
    }
}
.main__functioning ol {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1.4rem;
    padding: 0;
}
.main__functioning li {
    padding: 1.8rem 1.3rem 1.6rem 1.3rem;
    margin-left: 0.7rem;
    @include primary-background-color;
    border-radius: 1.5rem 1.5rem;
    box-shadow: 1px 4px 9px darken($color-base, 15%);
    font-weight: 500;
    list-style: none;
    position: relative;
    & i {
        color: darken($color-base, 60%);
        font-size: 1.3rem;
        padding: 0 1.5rem 0 0.8rem;
    }
}
.list-style__number {
    position: absolute;
    left: -0.8rem;
    bottom: 1.4rem;
    background-color: $color-primary;
    color: $color-base;
    font-weight: 500;
    font-size: $font-small;
    padding: 0.3rem 0.5rem 0.1rem 0.5rem;
    border-radius: 50%;
}

// Restaurants section

.restaurants {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
    @include primary-background-color;
    & h2 {
        margin: 0 0 1rem 0;
    }
    &__showcase {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 1.2rem;
    }
    &__new {
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40%);
        font-weight: 500;
        font-size: $font-small;
        position: absolute;
        top: 1rem;
        right: 1rem;  
        padding: 0.4rem 0.7rem;   
        border-radius: 2px 2px;   
    }
}
.restaurants__new p {
    margin: 0;
}
.restaurants_card {
    border-radius: 1rem 1rem;
    background-color: $color-base;
    box-shadow: 4px 4px 9px darken($color-base, 13%) ;
    position: relative;
    & img {
    object-fit: cover;
    height: 11rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0 / 1rem 1rem 0 0;
    }
}
.restaurants__description {
    padding: 0.5rem 0 1rem 0.8rem;
    & h3 {
        font-size: $font-medium;
        font-weight: 700;
    }
}
.restaurants__description h3, .restaurants__description p {
    margin: 0.3rem 0 0 0; 
}