// Main image definition
.menu__main-img img {
    height: 16.5rem;
    object-fit: cover;
    width: 100%;
}

// Main block definition
.menu__main-block {
    border-radius: 2.5rem 2.5rem 0 0 / 2.5rem 2.5rem 0 0;
    position: relative;
    margin-top: -3rem;
    padding: 1rem;
    @include primary-background-color;
}

// Main title (h2+heart) definition
.menu__main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu__main-h2 {
    font-family: $font-special;
    font-size: $font-xlarge;
    font-weight: normal;
    margin: 1rem 0 0 0;
}

// H3 definition
.menu__main-block h3 {
    font-weight: 300;
    font-size: $font-medium;
    text-transform: uppercase;
    margin: 2.5rem 0 1rem 0;
    width: 2.5rem;
    border-bottom: 3px solid $color-tertiary;
    padding-bottom: 0.3rem;
}

// all dishes block

.dishes__block {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

// Definition for all 1 dish

.dishes__unit-block {
    background-color: $color-base;
    border-radius: 1rem 1rem;
    box-shadow: 1px 4px 9px darken($color-base, 15%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem;
    overflow: hidden;
    animation: dishes-come 0.6s ease-in backwards;
    transition: all 0.1ms ease-in;
    &:nth-child(2) {
        animation-delay: 0.2s;
    }
    &:nth-child(3) {
        animation-delay: 0.3s;
    }
    &:hover .menu__check {
        margin-right: -0.6rem;
        transition: 0.6s ease-in-out;
    }
    &:hover i {
        transform: rotate(360deg);
        transition: 0.6s ease-in-out;
    }
}
@keyframes dishes-come {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.dishes__description {
        width: 100%;
        padding-right: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    &-text {
        overflow: hidden;
    }
    & h4 {
        font-size: $font-medium;
        font-weight: 500;
        margin: 0.2rem 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & p {
        font-size: $font-small;
        margin: 0 0 0.2rem 0; 
        white-space: nowrap;  
        text-overflow: ellipsis;
        overflow: hidden;     
    }
}
.dishes__price {
    font-weight: 500;
    padding: 1.75rem 0 0 1rem;
}

// Button to order

.restaurants-btn__order {
    border: none;
    display: block;
    margin: 3rem auto 4rem auto;
    padding: 1rem 3rem;
    font-size: $font-normal;
}

// Media query Medium

@media screen and (min-width: 600px) {
    .header__menu {
        display: flex;
        justify-content: center;
    }
    .header__menu a {
        position: static;
        align-self: center;
        margin: 0.5rem 5rem 0 -5rem;
    }
    .menu__main-block {
        border-radius: 0 0;
    }
    .menu__main-title {
        justify-content: space-evenly;
    }
    .menu__main-block h3 {
        width: 70%;
        margin: 2.5rem auto 1.5rem auto;
    }
    .dishes__block {
        margin: 0 auto;
        width: 70%;
    }
}

// Media Queries Desktop

@media screen and (min-width: 998px) {
    .menu__main-block {
        background-color: $color-base;
    }
    .menu__main-title {
        flex-direction: column;
        text-align: center;
    }
    .btn-heart__menu {
        margin: 0 auto;
        background-color: $color-base;
    }
    .btn-heart__menu i {
        color: $color-base;
    }
    .dishes__block {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .dishes__unit-block {
        @include primary-background-color;
        box-shadow: 1px 4px 9px darken($color-base, 20%);
    }
}