@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h1 {
  font-family: "Shrikhand", "cursive";
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin: 0 0 0.5rem 0;
  padding-top: 1rem;
}

.header__menu a {
  position: absolute;
  top: 1.8rem;
  left: 1.4rem;
}

footer {
  color: white;
  background-color: #363636;
  padding: 1.5rem;
}
footer h2 {
  font-family: "Shrikhand", "cursive";
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 0.5rem;
}
footer ul a {
  color: white;
  font-weight: 500;
}
footer ul a:visited {
  color: white;
}
footer ul i {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

footer ul li:hover {
  text-decoration: underline;
}

.btn-heart {
  border: none;
  cursor: pointer;
}
.btn-heart__home {
  background-color: white;
  position: absolute;
  bottom: 2rem;
  right: 1.4rem;
}
.btn-heart__menu {
  background-color: whitesmoke;
  margin: 1rem 1rem 0 0;
}
.btn-heart i {
  font-size: 1.3rem;
  color: white;
  text-shadow: -0.7px 0 black, 0 0.7px black, 0.6px 0 black, 0 -0.7px black;
  opacity: 1;
  transition: 0.7s cubic-bezier(0.54, -1.04, 0.57, 0.99);
}

.btn-heart__menu i {
  color: whitesmoke;
}

.btn-heart i:hover {
  background: linear-gradient(175deg, #ff7ad9, #9256dc);
  background-clip: text;
  color: transparent;
  text-shadow: none;
  font-size: 1.4rem;
}

.restaurants-btn {
  background: linear-gradient(175deg, #ff7ad9, #9256dc);
  border-radius: 2rem 2rem;
  box-shadow: 1px 4px 5px #bfbfbf;
  color: white;
  font-weight: 500;
}
.restaurants-btn:hover {
  background: linear-gradient(175deg, #ff8ade, #9a62df);
  box-shadow: 1px 4px 5px #a6a6a6;
}

.menu__check {
  border: none;
  background-color: #98e2cf;
  color: white;
  font-size: 1.3rem;
  width: 4.8rem;
  margin: -0.6rem -5.4rem -0.6rem 0;
  border-radius: 0 1rem 1rem 0;
  transition: 0.3s ease-in-out;
}

.loading-spinner__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1;
  animation: loading-spinner 0.1s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

.loading-spinner__content {
  font-family: "Shrikhand", "cursive";
  font-size: 2rem;
}
.loading-spinner__content p {
  font-size: 3rem;
  background: linear-gradient(150deg, #ff7ad9, #9256dc);
  background-clip: text;
  color: transparent;
  padding: 0 1rem;
  margin: 0 1rem;
}

.loading-spinner__stars {
  margin: 1rem 2rem;
  position: relative;
}

.loading-stars {
  position: absolute;
  margin: 0 1rem;
  opacity: 0;
}

.star1 {
  left: 0;
  color: #98e2cf;
  animation: stars-transform 1900ms ease-in-out infinite;
}

.star2 {
  left: 3rem;
  color: #70d7bd;
  animation: stars-transform 1900ms 0.3s ease-in-out infinite;
}

.star3 {
  left: 6rem;
  color: #48cbab;
  animation: stars-transform 1900ms 0.5s ease-in-out infinite;
}

.star4 {
  left: 9rem;
  color: #31af90;
  animation: stars-transform 1900ms 0.7s ease-in-out infinite;
}

.star5 {
  left: 12rem;
  color: #26876f;
  animation: stars-transform 1900ms 0.9s ease-in-out infinite;
}

@keyframes stars-transform {
  0% {
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-spinner {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
.form__city-search {
  background-color: #e6e6e6;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 2px 5px #bfbfbf;
  color: #333333;
}
.form__city-search label {
  margin-right: 1rem;
}
.form__city-search input {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
  display: block;
  width: 8rem;
}

.main__description {
  background-color: whitesmoke;
  padding: 2.5rem 1.8rem;
  text-align: center;
}
.main__description p {
  font-size: 1.1rem;
}

.main__description h2, .main__description p {
  margin: 0 0 1rem 0;
}

.restaurants-btn__anchor {
  display: block;
  max-width: max-content;
  margin: 2rem auto 1rem auto;
  padding: 1rem 1.2rem;
}
.restaurants-btn__anchor:visited {
  color: white;
}

.main__functioning {
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}
.main__functioning h2 {
  margin: 1.5rem 0 1.8rem 0;
}

.main__functioning ol {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.4rem;
  padding: 0;
}

.main__functioning li {
  padding: 1.8rem 1.3rem 1.6rem 1.3rem;
  margin-left: 0.7rem;
  background-color: whitesmoke;
  border-radius: 1.5rem 1.5rem;
  box-shadow: 1px 4px 9px #d9d9d9;
  font-weight: 500;
  list-style: none;
  position: relative;
}
.main__functioning li:hover {
  background-color: #f1eafb;
  box-shadow: 1px 4px 9px #bfbfbf;
}
.main__functioning li i {
  color: #666666;
  font-size: 1.3rem;
  padding: 0 1.5rem 0 0.8rem;
}
.main__functioning li:hover i {
  color: #9256dc;
}

.list-style__number {
  position: absolute;
  left: -0.8rem;
  bottom: 1.4rem;
  background-color: #9256dc;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem 0.1rem 0.5rem;
  border-radius: 50%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
  background-color: whitesmoke;
}
.restaurants h2 {
  margin: 0 0 1rem 0;
}
.restaurants__showcase {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1.2rem;
}
.restaurants__new {
  background-color: #98e2cf;
  color: #26876f;
  font-weight: 500;
  font-size: 0.9rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.4rem 0.7rem;
  border-radius: 2px 2px;
}

.restaurants__new p {
  margin: 0;
}

.restaurants_card {
  border-radius: 1rem 1rem;
  background-color: white;
  box-shadow: 4px 4px 9px #dedede;
  position: relative;
}
.restaurants_card:hover {
  box-shadow: 4px 4px 9px #b3b3b3;
}
.restaurants_card:hover .restaurants__description {
  color: #772bd4;
}
.restaurants_card img {
  object-fit: cover;
  height: 11rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0/1rem 1rem 0 0;
}

.restaurants__description {
  padding: 0.5rem 0 1rem 0.8rem;
}
.restaurants__description h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.restaurants__description h3, .restaurants__description p {
  margin: 0.3rem 0 0 0;
}

.menu__main-img img {
  height: 16.5rem;
  object-fit: cover;
  width: 100%;
}

.menu__main-block {
  border-radius: 2.5rem 2.5rem 0 0/2.5rem 2.5rem 0 0;
  position: relative;
  margin-top: -3rem;
  padding: 1rem;
  background-color: whitesmoke;
}

.menu__main-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__main-h2 {
  font-family: "Shrikhand", "cursive";
  font-size: 1.7rem;
  font-weight: normal;
  margin: 1rem 0 0 0;
}

.menu__main-block h3 {
  font-weight: 300;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 2.5rem 0 1rem 0;
}

.dishes__block {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.dishes__unit-block {
  background-color: white;
  border-radius: 1rem 1rem;
  box-shadow: 1px 4px 9px #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6rem;
  overflow: hidden;
}
.dishes__unit-block:hover .menu__check {
  margin-right: -0.6rem;
  transition: 0.6s ease-in-out;
}
.dishes__unit-block:hover i {
  transform: rotate(360deg);
  transition: 0.6s ease-in-out;
}

.dishes__description {
  width: 100%;
  padding-right: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.dishes__description-text {
  overflow: hidden;
}
.dishes__description h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.2rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dishes__description p {
  font-size: 0.9rem;
  margin: 0 0 0.2rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dishes__price {
  font-weight: 500;
  padding: 1.75rem 0 0 1rem;
}

.restaurants-btn__order {
  border: none;
  display: block;
  margin: 3rem auto 4rem auto;
  padding: 1rem 3rem;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
